
@import "./mixins/variables";

@import "./layout/body";
@import "./layout/header";
@import "./layout/sidebar";

@import "./common/bodycard";







*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;

  //   /*@include respond(phone){
  //     font-size: 50%;// 1rem = 8px ;8/16 = 50%
  //   }*/

  //   @include respond(tab-land){//width < 1200 ?
  //     font-size: 56.25%;// 1rem = 9px ;9/16 = 56.25%
  //   }
  //   @include respond(tab-port){//width < 900 ?
  //     font-size: 50%; // 1rem = 8px ;8/16 = 50%
  //   }
  //   @include respond(big-desktop){
  //     font-size: 75%;// 1rem = 12px ;12/16 = 75%
  //   }
}

// .some-style{
//     width: 50px;
//     height: 50px;
// }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main-bg;
}

.container {
  position: relative;
  width: 140rem;
  height: 102.4rem;
}
