//----COLORS----

$main-bg: #fafafa;
$sidebar-bg: #f3f4f9;
$header-bg: #ffffff;
$card-bg:#ffff;

$navigation-item-active: #34abe0;
$navigation-item: #333333;

$placehodder-text: rgba(0, 0, 0, 0.45);

$cupon-num: #df212d;
$cupon-lablel: #0000;

//----Typography----

$sidebar-menu:1.6rem;
$card-num:3.6rem;
$card-label:1.6rem;

//Desktop
$main-h1: 2.8rem;
$main-h2: 2.4rem;
$main-h3: 1.8rem;

//Mobile
$main-mob-h1: 2.4rem;
$main-mob-h2: 1.6rem;
$main-mob-h3: 1.4rem;
