.card__wrapp {
  margin-top: 40px;
  padding: 0 6rem;
  margin-bottom: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-card {
    width: 34.7rem;
    height: 161px;
    display: flex;
    justify-content: space-between;
    background: $card-bg;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background: url("../../assets/img/hover.png");
      background-size: cover;
      background-color: #fff;
    }
    &-left {
      margin-left: 20px;
      padding-top: 16px;
      font-family: "Roboto", sans-serif;
      left: 0;
      &-title {
        font-size: $card-label;
        font-weight: 700;
        letter-spacing: 0.1em;
      }
      &-subtitle {
        font-size: $card-label;
        opacity: 0.3;
        font-weight: 400;
        margin-bottom: 40px;
        position: absolute;
        height: 16px;
      }
      &-num {
        font-weight: 500;
        color: $cupon-num;
        font-size: $card-num;
        position: absolute;
        left: 20px;
        top: 94px;
      }
      &-label {
        font-size: $card-label;
        opacity: 0.5;
        letter-spacing: 0.4em;
        margin-bottom: 15.7px;
        position: absolute;
        top: 135px;
      }
    }
    &-right {
      & img {
        width: 13rem;
        height: 161px;
      }
    }
  }
}

.poligon_left {
  position: absolute;
  width: 10px;
  background: #88878729;
  height: 10px;
  clip-path: polygon(72% 50%, 8% 0, 6% 112%);
  top: 47%;
  left: 0%;
}
.poligon_right {
  position: absolute;
  width: 10px;
  background: #88878729;
  height: 10px;
  clip-path: polygon(72% 50%, 8% 0, 6% 112%);
  top: 47%;
  right: -1px;
  transform: rotate(181deg);
}
